* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;

    display: flex;
    justify-content: center;
}

.sidebar{
    position: relative;
    text-align: center;
}

img{
    max-height: 755px;
}

.logo{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.logo-back{
    color: black;
    background-color: black;
    opacity: 40%;
    width: 504px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rightside{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header,
.content,
.footer{
    padding: 30px;
    padding-left: 40px;
    max-width: 530px;
}

.header {

}

.content{
    background-color: white;
}

.footer{

}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.form-subrow{
    display: flex;
    flex-direction: column;
}